include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include agilex *.css
recursive-include agilex *.csv
recursive-include agilex *.html
recursive-include agilex *.ico
recursive-include agilex *.js
recursive-include agilex *.json
recursive-include agilex *.md
recursive-include agilex *.png
recursive-include agilex *.py
recursive-include agilex *.svg
recursive-include agilex *.txt
recursive-exclude agilex *.pyc