<tr class="doc-{{doc.name}}">
	<td>
		<a href='#'>{{ doc.forma }}</a>
	</td>
	<td>
		
		{{ doc.forma_reversa }}

	</td>
	<td>
		{{ doc.frecuencia_absoluta }}
	</td>
	<td>
		{{ doc.frecuencia_relativa|round(2) }}%
	</td>
	<td>
		<a href="/{{doc.route_transcripcion}}" data-toggle="tooltip" title="{{ doc.transcripcion}} - {{ doc.tipo_de_transcripcion }}">
			{{ doc.transcripcion}} - 
			{% if doc.tipo_de_transcripcion=="Transcripción paleográfica" %}
				TP
			{% else %}
				PC
			{% endif %}
		</a>
	</td>
	<td>
		<a class="btn btn-primary btn-xs invisible" href='/{{ doc.route }}'>Ver</a>
	</td>
</tr>