<tr class="doc-{{doc.name}}">
	<td>
		<a href='#'>{{ doc.forma }}</a>
	</td>
	<td>
		
		{{ doc.forma_reversa }}

	</td>
	<td>
		{{ doc.frecuencia_absoluta }}
	</td>
	<td>
		{{ doc.frecuencia_relativa|round(2) }}%
	</td>
	<td>
		<a href="/{{doc.route_transcripcion}}" data-toggle="tooltip" title="{{ doc.title_res}}">
			{{ doc.transcripcion}} - {{doc.tipo_de_transcripcion}}
		</a>
		<p class="text-muted mb-0"><small>
		{% if doc.title != doc.title_res %}
			<span class="doc-title" data-toggle="tooltip" title="{{ doc.title }}">{{ doc.title_res or '' }}...</span>
		{% else %}
			{{ doc.title or '' }}
		{% endif %}
		</small></p>
	</td>
</tr>