<tr class="doc-{{doc.name}}">
	<td>
		<a href='/{{ doc.route }}'>{{ doc.name }}</a>
	</td>
	<td>
		
		{% if doc.title != doc.title_res %}
		<span class="doc-title" data-toggle="tooltip" title="{{ doc.title }}">{{ doc.title_res or '' }}...</span>
		{% else %}
		{{ doc.title or '' }}
		{% endif %}

	</td>
	<td>
		{{ doc.signatura or '' }}
	</td>
	<td>
		<a href="/{{doc.ruta_tipo_de_documento}}">{{ doc.tipo_de_documento }}</a>
	</td>
	<td>
		{{ doc.anio or '' }}
	</td>
	<td>
		<a class="btn btn-primary" href='/{{ doc.route }}'>Ver</a>
	</td>
</tr>