{% extends "templates/web.html" %}

{% block title %}
	{{ name or title or (_("{0} List").format(_(doctype))) }}
{% endblock %}

{% block header %}
	{%set title_mod = title or ''%}
	<h1>{{ title_mod|truncate(200, True, '...') or (_("{0} List").format(_(doctype))) }}</h1>
{% endblock %}

{% block breadcrumbs %}
	{% include "templates/includes/transcripcion/breadcrumbs.html" %}
{% endblock %}

{% block content_top%}
<!-- no-header -->
<!-- no-breadcrumbs -->
<div class="tabs">
	{% set active="Documentos" %}
	{% include "templates/includes/tabs_corpus.html" %}
	<div class="tab-content pt-0">
		<div id="documentos" class="tab-pane active">
			<section class="pt-3 pb-3">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h2 class="font-weight-normal text-6 pb-0 mb-0">Datos del <strong class="font-weight-extra-bold">documento</strong></h2>
						</div>
					</div>
					<div class="row">
								<div class="col-md-6">
									{{render_variable_tooltip('Descripción', title, 300) }}
									{{render_variable('Código', name) }}
									{{render_variable('Signatura', signatura) }}
									{{render_variable('Hoja(s)', numero_folios) }}
									
									{{render_range('Año', anio, anio_fin) }}
									{{render_variable('Siglo', siglo) }}
									{{render_variable('Fecha crónica', fecha) }}
									{{render_variable('Fecha tópica', fecha_topica) }}
									{{render_variable('Autor del acto jurídico', autor_acto_juridico)}}
									{{render_variable('Autor material del documento', autor_material_del_documento)}}
									{{render_variable('Firma', firma_y_rubrica) }}
									{{render_variable('Rúbrica', rubrica) }}
								</div>
									
								<div class="col-md-6">
									{% if tipo_de_papel or presentacion or disposicion_del_texto or tipo_de_sello or dipo_de_letra or estado_de_conservacion  %}
									{{render_variable('Tipo de papel', tipo_de_papel) }}
									{{render_variable('Presentación', presentacion) }}
									{{render_variable('Disposición del texto', disposicion_del_texto) }}
									{{render_variable('Tipo de sello', tipo_de_sello) }}
									{{render_variable('Tipo de letra', dipo_de_letra) }}
									{{render_variable('Estado de consevación', estado_de_conservacion) }}
									{% endif %}

									{% if observaciones %}
									{{render_variable_show_more('Observaciones', observaciones, 300)}}
									{% endif%}

									{% if transcriptores|len > 0 %}
									<br><strong>Transcriptores</strong><br>
									{% for transcriptor in transcriptores %}
										<i class="fas fa-caret-right left-10"></i> {{ transcriptor.transcriptor}} <br>
									{% endfor %}
									{% endif%}
								</div>
							</div>
							
							{% if imagenes|len > 0 %}
							<ul id="lightgallery" class="list-unstyled row pt-4">
				              {% for imagen in imagenes %}
				                <li class="col-xs-6 col-sm-3 col-md-2" data-src="{{imagen.imagen_adjunta}}" data-sub-html="">
				                    <a href="">
				                        <img class="img-fluid border-radius-0" src="{{imagen.imagen_adjunta}}">
				                    </a>
				                </li>

				               {% endfor%}
				                
				            </ul>

							{% endif %}
				</div>
				<a name="target_transcripcion"></a>
			</section>
			<section class="section section-primary mt-0 mb-0 pt-1 pb-1 ">
				<div class="container">
					<div class="row">
						<div class="col">
							<a href="#target_transcripcion" class="btn btn-sm btn-modern text-2 btn-light border-0">Ver transcripciones</a>
						
							<a href="/corpus/forma?documento={{name}}" class="btn btn-sm btn-modern text-2 btn-light border-0">Ver formas</a>
						</div>
						<div class="col text-right">
							<a href="#" onclick="history.back()" class="btn btn-sm btn-modern text-2 btn-light border-0">Volver</a>
						</div>
					</div>
				</div>
			</section>

			<div class="divider divider-style-2 taller">
				<a href="#target_transcripcion"><i class="fas fa-chevron-down"></i></a>
			</div>

			<section class="container transcripciones">
				<div class="row ">
					<div class="col-md-6">
						<div class="featured-box featured-box-primary featured-box-text-left mt-0">
							<div class="box-content p-3 text-justify">
								<h2 class="font-weight-normal text-6 pb-0 mb-0">Transcripción <strong class="font-weight-extra-bold">paleográfica</strong></h2>
								<div class="white-space-pre">{{transcripcion_paleografica_html}}</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="featured-box featured-box-primary featured-box-text-left mt-0">
							<div class="box-content p-3 text-justify">
								<h2 class="font-weight-normal text-6 pb-0 mb-0">Presentación <strong class="font-weight-extra-bold">crítica</strong></h2>
								<div class="white-space-pre">{{presentacion_critica_html}}</div>
							</div>
						</div>
					</div>
				</div>
			</section>

		</div>
	</div>
</div>

{% endblock %}

{% block script %}
	<script type="text/javascript">
        $(document).ready(function(){
            $('#lightgallery').lightGallery();
        });
    </script>
{% endblock%}

{% macro render_variable(label, name) -%}
    {% if name %}<i class="fas fa-caret-right left-10"></i> <strong class="text-color-primary">{{ label }}:</strong> {{ name }} <br> {% endif %}
{%- endmacro %}

{% macro render_variable_show_more(label, name, length_show_more) -%}
    {% if name %}
    <i class="fas fa-caret-right left-10"></i> <strong class="text-color-primary">{{ label }}:</strong>
    {% if name|length > length_show_more %}
    	<div class='text-truncate-{{label}}'>{{ name|truncate(length_show_more, True, '...') }}
    		<button type='button' class='btn btn-light btn-xs' onclick='cms.utils.leerMas(".text-truncate-{{label}}",{{name|tojson }} );'>Mostrar más</button>
    	</div>

    {% else %}
        {{ name }}
    {% endif %} 
    <br> 
    {% endif %}
{%- endmacro %}

{% macro render_variable_tooltip(label, name, tooltip_length) -%}
    {% if name %}<i class="fas fa-caret-right left-10"></i> <strong class="text-color-primary">{{ label }}:</strong>
    {% if name|length > tooltip_length %}
     	<span data-toggle="tooltip" title="{{ name }}">{{ name|truncate(tooltip_length, True, '...') }} </span>
    {% else %}
    	{{ name }}
    {% endif %}
     <br> {% endif %}
{%- endmacro %}

{% macro render_range(label, name, name_fin) -%}
    {% if name %}<i class="fas fa-caret-right left-10"></i> <strong class="text-color-primary">{{ label }}:</strong> {{ name }} 
    	{% if name_fin %}
    		&nbsp;-&nbsp;{{name_fin}}
    	{% endif %}
    <br> 
    {% endif %}
{%- endmacro %}

<!-- this is a sample default web page template -->