{% if sub_title %}
<h4 class="text-muted">{{ sub_title }}</h4>
{% endif %}
{% include "templates/includes/transcripcion/transcripcion_filters.html" %}
{% if not result -%}
    <div class="text-muted no-results" style="min-height: 300px;">
				<i class="mega-octicon octicon-telescope"></i>
    		{{ no_result_message or _("Nothing to show") }}
    </div>
{% else %}
    <div class="website-list" data-doctype="{{ doctype }}"
        data-txt="{{ txt or '[notxt]' }}" data-tdoc="{{tipo_de_documento}}">

		{% if result_heading_template %}{% include result_heading_template %}{% endif %}

    	<div class="">
            <table class="table">
                <thead>
                    <tr>
                        <th width="110">
                            Código
                        </th>
                        <th width="300">
                            Documento
                        </th>
                        <th>
                            Signatura
                        </th>
                        <th>
                            Tipología
                        </th>
                        <th>
                            Año
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="result">
            		{% for item in result %}
            			{{ item }}
            		{% endfor %}
                </tbody>
            </table>
    	</div>
    	{% include "templates/includes/list/show_more.html" %}
    </div>
{%- endif %}
