{% extends "templates/web.html" %}

{% block title %}{{ title or _("Transcripciones") }}{% endblock %}
{% block header %}<h1>{{ title or _("Transcripciones") }}</h1>{% endblock %}
{% block hero %}{% endblock %}

{% block page_content %}
<!-- no-header -->
<!-- no-breadcrumbs -->
<div class="tabs">
	{% set active="Documentos" %}
	{% include "templates/includes/tabs_corpus.html" %}
	<div class="tab-content">
		<div id="documentos" class="tab-pane active">
			<div class="list-content">
				<div id="list">
					{% include "templates/includes/transcripcion/transcripcion_list.html" %}
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}

{% block script %}
<script>{% include "templates/includes/list/list.js" %}</script>
<script>{% include "templates/includes/transcripcion/transcripcion.js" %}</script>
{% endblock %}
